#content h3 a,
#content h3 a:hover,
#content h3 a:active {
  color: #2A3167;
  background-color: inherit;
  text-decoration: none;
}

#content h3 + p {
  margin-top: 0;
}

#content .toc li a {
  text-decoration: none;
}

#content table.options {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  font-weight: normal;
  background-color: #FFFFFF;
  color: #2A3167;
  line-height: 1.2em;
}

#content table.options {
  border: 1px solid #9398B5;
  border-collapse: collapse;
  width: 100%;
}

#content table.options td {
  padding: 1px 0.5em;
  vertical-align: top;
  border-right: 1px solid #9398B5;
}

#content table.list td {
  border-bottom: 1px solid #9398B5;
}

#content table.options th {
  padding: 1px 0.5em;
  background-color: #F5F6F9;
  border-bottom: 1px solid #9398B5;
  border-right: 1px solid #9398B5;
}

#content table.list th {
  text-align: left;
  font-weight: normal;
}

#content table.options caption {
  caption-side: bottom;
  text-align: right;
  font-size: 0.9em;
}
